<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <section class="section-content">
    <div class="col-4 sm-width-full left prose text-center">
      <p><i class="fa fa-phone"></i> +48 733 035 328</p>
    </div>
    <div class="col-4 sm-width-full left prose text-center">
      <p><i class="fa fa-envelope"></i> leszek.lorens@gmail.com</p>
    </div>
    <div class="col-4 sm-width-full left prose text-center">
      <p><i class="fa fa-map-marker"></i> Gdynia</p>
    </div>
    <div class="col-12 sm-width-full left prose text-center">
      <p>&copy; Copyright Leszek Lorens <script>document.write(/\d{4}/.exec(Date())[0])</script></p>
    </div>
  </section>
</div>